<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../Chicken/imgaes/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../Chicken/imgaes/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Chicken/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../Chicken/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../Chicken/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../Chicken/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.../Chicken/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2>ĐỔI MẬT KHẨU</h2>
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="name" name="name" placeholder="Mật khẩu cũ" required data-error="Nhập mật khẩu cũ">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="password" placeholder="Mật khẩu mới" id="email" class="form-control" name="name" required data-error="Nhập mật khẩu mới">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="subject" name="name" placeholder="Xác nhận mật khẩu" required data-error="Xác nhận mật khẩu mới">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="form-control" id="subject" style="background-color:red; border-radius: 20px;color:white;font-size:18px;font-weight:bold">ĐỔI MẬT KHẨU</button>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>